[project]
	description = x86 microkernel - Dead, I'll write it down again from scratch
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Bhoomil (bhoomil-avch)
[access "refs/for/refs/*"]
	read = group user/Bhoomil (bhoomil-avch)
	push = group user/Bhoomil (bhoomil-avch)
	label-Code-Review = -2..+2 group user/Bhoomil (bhoomil-avch)
	label-Verified = -1..+1 group user/Bhoomil (bhoomil-avch)
	rebase = group user/Bhoomil (bhoomil-avch)
	removeReviewer = group user/Bhoomil (bhoomil-avch)
	submit = group user/Bhoomil (bhoomil-avch)
[access "refs/heads/*"]
	read = group user/Bhoomil (bhoomil-avch)
	create = group user/Bhoomil (bhoomil-avch)
	push = +force group user/Bhoomil (bhoomil-avch)
	pushMerge = group user/Bhoomil (bhoomil-avch)
[access "refs/tags/*"]
	push = group user/Bhoomil (bhoomil-avch)
	push = +force group user/Bhoomil (bhoomil-avch)
